.container {
    background: #eee;
    width: 500px;
    margin: 80px auto;
    border: 1px solid #000000;
    border-radius: 8px;
}

#form {
    padding: 20px;
    color: #000000;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column ;
}

label,
input {
    margin-bottom: 10px;
    padding: 8px;
}

.input {
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

#submit,
#reset {
    padding: 10px;
    border-radius: 5px;
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-transform: capitalize;
}

#submit:hover,
#reset:hover {
    padding: 12px;
    background: rgb(208, 208, 208);
}

.btn2 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

#btn2 {
    padding: 5px;
    border-radius: 5px;
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-transform: capitalize;
}

#btn2:hover {
    padding: 3px;
    background: rgb(208, 208, 208);
}

#error {
    color: red;
}