.container {
    background: #eee;
    width: 500px;
    margin: 80px auto;
    border: 1px solid #000000;
}

#form {
    padding: 20px 20px;
    color: #000000;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
}

li {
    list-style: none;
}

label,
input {
    margin-bottom: 15px;
    padding: 10px;
}

.input {
    border-radius: 1px;
    /* how can I align the input elements one under the other? */
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

#submit,
#reset,
#btn2 {
    padding: 10px;
    border-radius: 3px;
    font-family: Georgia, Times, serif;
    font-size: 15px;
    text-transform: capitalize;
}

#submit:hover,
#reset:hover,
#btn2:hover {
    padding: 13px;
    background: #ffffff;
}

.btn2 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

#error {
    color: red;
}